@import 'modals';
@import 'variables';

body {
  font: $primary-font-size Helvetica, sans-serif;
  background-color: $primary-color;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#content {
  padding-top:100px;
}

#block1 {
    
    background-color: #f5f3f3;
}

#block2 {
    
    background-color: #fefefe;
}
#panel, #flip {
    padding: 5px;
    width: 50%;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    
   display:block;
}
