 <div ng-controller="CreateSubreddit"  class="col-md-10 blocks" id="block1">
  <h3>Create new subreddit</h3>
<form id="productForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Subreddit name</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="name"  ng-model="name"/>
        </div>
    </div>
 
	<div class="form-group" >
        <label class="col-xs-3 control-label">Description:</label>
        <div class="col-xs-8">
            <textarea name="description" class="form-control" rows="5" ng-model="description"></textarea>
        </div>
    </div>
    
    <div class="form-group" >
        <label class="col-xs-3 control-label">Rules:</label>
        <div class="col-xs-8">
            <textarea name="description" class="form-control" rows="5" ng-model="rules"></textarea>
        </div>
    </div>

	<div class="form-group">
        <label class="col-xs-3 control-label">Subreddit icon:</label>
        <div class="col-xs-5">
            <input type="file" class="form-control" name="name"  fileread="icon"/>
        </div>
     </div>
   

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button  ng-click="createSubreddit()" type="submit" class="btn btn-default">+ Create subreddit</button>
        </div>
    </div>
</form>

</div>