 <div ng-controller="CreateTopic"  class="col-md-10 blocks" id="block1">
  <h3>Create new topic</h3>
<form id="productForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Topic title</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="name"  ng-model="title"/>
        </div>
    </div>
 <div class="form-group">
        <label class="col-xs-3 control-label">Topic type:</label>
        <div class="col-xs-5 selectContainer">
            <select ng-change="chooseType()" class="form-control" name="size" ng-model="select">
                <option value="">Choose a type</option>
                <option value="Text">text</option>
                <option value="Image">image</option>
                <option value="Link">link</option>
            </select>
            
        </div>
    </div>

	<div class="form-group" ng-show="text">
        <label class="col-xs-3 control-label">Content:</label>
        <div class="col-xs-8">
            <textarea name="description" class="form-control" rows="5" ng-model="content"></textarea>
        </div>
    </div>

	<div class="form-group" ng-show="image">
        <label class="col-xs-3 control-label">Topic image:</label>
        <div class="col-xs-5">
            <input type="file" class="form-control" name="name"  fileread="imageUrl"/>
        </div>
        
    </div>
    
    <div class="form-group" ng-show="link">
        <label class="col-xs-3 control-label">Topic link:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="name"  ng-model="linkUrl"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button  ng-click="createTopic()" type="submit" class="btn btn-default">+ Create topic</button>
        </div>
    </div>
</form>

</div>