<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/reddit-icon.png">
    <script src="js/jquery.js"></script>
    <script src="js/bootbox.min.js"></script>
	<script src="js/node_modules/angular/angular.js"></script>
	<script src="js/node_modules/angular-route/angular-route.js"></script>
	<script src="js/ng-content-editable.min.js"></script>
	<script src="js/app.js"></script>
    <title>reddit.com</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    
    <script src="js/ie-emulation-modes-warning.js"></script>

   
  </head>

  <body ng-app="app" ng-controller='MainCtrl'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#!/">HOME</a></li>
            <li ng-repeat="sub in subscribed"><a href="">{{sub}}</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container-fluid" id="content">
      <div ng-view></div>
	  
      <div class="col-md-2 blocks" id="block2">
      
      </div>

    </div><!-- /.container -->

	
   

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/animations.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
     
  </body>
    
   
  <!-- MODALS -->
  
  <div ng-controller="Login" class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" my-modal>
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form>
          <input type="text" name="user" placeholder="Username" ng-model="username">
          <input type="password" name="pass" placeholder="Password" ng-model="password">
          <input type="submit" ng-click="tryLogin()" name="login" class="login loginmodal-submit" value="Login">
        </form>
				
      </div>
    </div>
  </div>
    
  <div ng-controller="Register" class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Register on reddit.com</h1><br>
        <form>
          <input type="text" name="user" placeholder="Username" ng-model="username">
          <input type="password" name="pass" placeholder="Password" ng-model="password">
          <input type="password"  placeholder="Repeat password" ng-model="repeatPass">
          <input type="text" name="email" placeholder="Email" ng-model="email">
          <input type="text" name="firstName" placeholder="First Name" ng-model="name">
          <input type="text" name="lastName" placeholder="Last Name" ng-model="lastname">
          <input type="text" name="phone" placeholder="Phone number" ng-model="phone">
          <input type="submit" name="register" ng-click="tryRegister()" class="login loginmodal-submit" value="Register">
        </form>
				
      </div>
    </div>
  </div>  

 
</html>
