<a ng-controller="Logout" ng-click="logout()" href="#" class="btn btn-lg btn-warning">Logout</a>

<a href="#!/show_messages"><span style="font-size:30px;float:right" class="glyphicon glyphicon-inbox" aria-hidden="true"></span></a>