<div class="btn-group">
  <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-success">Login</a>
  <a href="#" data-toggle="modal" data-target="#register-modal" class="btn btn-lg btn-success">Register</a>
</div> 