<div ng-controller="Search" class="col-md-10 blocks" id="block1">
  <div class="form-group">
   	<div class="col-md-10"><input type="text" name="search" ng-model="searchInput"  class="form-control" placeholder="Search.."></div>
  	<div class="col-md-2"><input ng-click="search()" type="submit" class="btn btn-info" value="Search..."></div>  
  </div>
  
  
  
  <div ng-repeat="subreddit in subreddits">
   <a href="#!subreddit/{{subreddit.id}}">
     <div col-md-8>
       <hr/>
       <h4><img src="{{subreddit.icon}}" width=20></img> &nbsp /r/{{subreddit.name}}</a>  
      
       </h4>
       <h9>{{subreddit.description}}</h9>
       </div>
   </div>
   
  
   <div ng-repeat="topic in topics">
  	  
	    <h3>
	      <span class="glyphicon glyphicon-arrow-down" style="color:red" aria-hidden="true"></span>{{topic.negative_comments}}
	      <span class="glyphicon glyphicon-arrow-up" style="color:green" aria-hidden="true"></span>{{topic.positive_comments}}
	      
	      	<b> {{topic.name}}</b><p style="font-size:12px;display:inline;">({{topic.type}})</p>
	   
	       
	    </h3>
	    <div style="line-height:0%;">
    	  <br>
	    </div>
	    <p style="font-size:13px">Author: {{topic.author}}</p>
	  
 	</div>
   
   <div ng-repeat="user in users">
  	<h3>Username: {{user.username}}</h3>
  	<h3>Email: {{user.email}}</h3>
   
</div>