 <div ng-controller="SendMessage"  class="col-md-10 blocks" id="block1">
  <h3>Send message</h3>
<form id="productForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Send to:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="name"  ng-model="receiver"/>
        </div>
    </div>
 <div class="form-group" >
        <label class="col-xs-3 control-label">Message:</label>
        <div class="col-xs-8">
            <textarea name="description" class="form-control" rows="5" ng-model="content"></textarea>
        </div>
   </div>
   
   <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button  ng-click="sendMessage()" type="submit" class="btn btn-default">Send message</button>
        </div>
    </div>
	
</form>

</div>