 <div ng-controller="ShowSubreddits" class="col-md-10 blocks" id="block1">List of subreddits:
 <a ng-show="isModOrAdmin" href="#!/create_new_subreddit" class="btn btn-lg btn-info">Create new subreddit</a>
 <a href="#!/search" class="btn btn-lg btn-info">Search</a>
 <a ng-show="isModOrAdmin" href="#!/send_message" class="btn btn-lg btn-warning">Send message</a>
 <a ng-show="isAdmin" href="#!/show_all_users" class="btn btn-lg btn-warning">Show all users</a>
   <div ng-repeat="subreddit in subreddits">
   <a href="#!subreddit/{{subreddit.id}}">
     <div col-md-8>
       <hr/>
       <h4><img src="{{subreddit.icon}}" width=20></img> &nbsp /r/{{subreddit.name}}</a>  
       <span ng-show="isModOrAdmin" ng-click="tryDelete(subreddit.id)" class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></span>
       </h4>
       <h9>{{subreddit.description}}</h9>
       <div><p ng-click="subscribe(subreddit.id, subreddit.name)" style="font-size:11px;display: inline;">Subscribe</p>&nbsp <p style="font-size:11px;display:inline;">Save</p></div>
     </div>
   
 </div>
	  	
	  
 </div>