<div ng-controller="ShowMessages" class="col-md-10 blocks" id="block1">
  <div ng-repeat="message in messages">
  <h4>FROM: {{message.sender}}</h4>
  <h5>Message: {{message.content}}</h5>
  <hr/>
  </div>
 </div>