<div ng-controller="ShowAllUsers"  class="col-md-10 blocks" id="block1">
  <div ng-repeat="user in users">
	<h4>Username: {{user.username}}
	&nbsp &nbsp Role:<input type="text" ng-model="user.role"></input>
	<span ng-click="editRole(user.username,user.role)" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
	</h4>



</div>