<div ng-controller="ShowSubreddit" class="col-md-10 blocks" id="block1">
  <h3>{{subreddit.name}}</h3>
  <a  ng-show="isModOrAdmin" href="#!/create_new_topic/{{subreddit.id}}" class="btn btn-lg btn-info">Create new topic</a>
  <hr/>
  <div ng-repeat="topic in subreddit.topics">
  	  
	    <h3>
	      <span ng-click="dislike(topic.id); topic.negative_comments = topic.negative_comments - 0 + 1" class="glyphicon glyphicon-arrow-down" style="color:red" aria-hidden="true"></span>{{topic.negative_comments}}
	      <span ng-click="like(topic.id); topic.positive_comments = topic.positive_comments - 0 + 1" class="glyphicon glyphicon-arrow-up" style="color:green" aria-hidden="true"></span>{{topic.positive_comments}}
	      <a ng-if="isTextTopic(topic.type)" href="#!/topic/{{topic.id}}">
	      	<b> {{topic.name}}</b><p style="font-size:12px;display:inline;">({{topic.type}})</p></a> 
	    <a ng-if="isLinkTopic(topic.type)" href="{{topic.content}}">
	       <b> {{topic.name}}</b><p style="font-size:12px;display:inline;">({{topic.type}})</p></a> 
	    <a ng-if="isImageTopic(topic.type)" href="" ng-click="redirectToImage(topic.content)">
	       <b> {{topic.name}}</b><p style="font-size:12px;display:inline;">({{topic.type}})</p></a> 
	       <a href="#!/edit_topic/{{topic.id}}/{{topic.name}}/{{topic.type}}"><span ng-show="isModOrAdmin" class="glyphicon glyphicon-edit" style="color:blue" aria-hidden="true"></span></a>
	       <span  ng-show="isModOrAdmin" ng-click="tryDelete(topic.id)" class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></span>
	    </h3>
	    <div style="line-height:0%;">
    	  <br>
	    </div>
	    <p style="font-size:13px">Author: {{topic.author}}</p>
	  
 </div>