<div ng-controller="ShowTopic" class="col-md-10 blocks" id="block1">
  <h3>{{topic.name}}</h3> ({{topic.type}})
  <p style="font-size:13px">Created by: {{topic.author}}</p>  
  <hr/>
  <p>{{topic.content}}</p>
  <div style="line-height:0%;">
   	  <br>
    </div>
    
    <hr></hr>
    <div  id="flip" ng-click='isCommenting = !isCommenting'>Click here to leave a comment</div>
	<div id="panel">
	  <div class="form-group" ng-show="!isCommenting">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="text"></textarea>
        <a href="" ng-click="tryCreateCommentOnTopic(topic.id,text)"  class="btn btn-lg btn-success">Submit</a>
      </div> 
	</div>
	
	
    <div style="line-height:20%;">
  	  <br>
    </div>
   	<h3>Comments</h3>
    <hr></hr>
    
  <div ng-repeat="comment in topic.comments">
  <span ng-click="dislike(comment.id); comment.negative_likes = comment.negative_likes - 0 + 1" class="glyphicon glyphicon-arrow-down" style="color:red" aria-hidden="true"></span>{{comment.negative_likes}}
	      <span ng-click="like(comment.id); comment.positive_likes = comment.positive_likes - 0 + 1" class="glyphicon glyphicon-arrow-up" style="color:green" aria-hidden="true"></span>{{comment.positive_likes}}
  	<p style="color:blue;display: inline;"> {{comment.author}}</p>
  	
  	<span ng-if="canDelete(comment.author)" ng-click="tryDelete(comment.id)" class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></span>
  	
  	 <div style="line-height:20%;">
    	  <br>
     </div>
     <span ng-show="!isEditing" ng-click='isEditing = !isEditing'>{{comment.text}}</span>
     <span ng-if="canDelete(comment.author)" ng-show="isEditing" ng-if="canDelete(comment.author)" ng-click="tryEdit(comment.id, comment.text)" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
     <span ng-if="!canDelete(comment.author)" ng-show="isEditing" >{{comment.text}}</span>
     <textarea ng-if="canDelete(comment.author)" class="form-control" rows="3" style="width:60%;" ng-show="isEditing" id="comment" ng-model="comment.text">
     
     <p ng-if="!canDelete(comment.author)" >{{comment.text}}</p>
    
  </div>

 <script>
 
 $(document).ready(function(){
	 
	    $("#flip").click(function(){
	        $("#panel").slideToggle("slow");
	        console.log("HERE");
	    });
});
 </script>    
    
 </div>
 
		
	